node_modules/
.expo/
.expo-shared/
dist/
web-build/
*.orig.*
.env
.env*.local
!.env.example
.DS_Store
*.log
npm-debug.*
yarn-error.*
.yarn/*
!.yarn/patches
.yarn/releases
.yarn/plugins
.yarn/sdks
.yarn/versions
.pnp.*
android/
ios/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
supabase/.branches/
supabase/.temp/
